@import "tailwindcss";
body{
    color:#222222;
    overflow-x: hidden;
    
}
:root {
  --color-primary: #FDB2BB;
  --color-text: #222222;
}

.BannerItem:hover .BannerImg{
  transform: translateY(-15px);
}
.BannerItem .BannerImg{
  transition: 300ms;
}
